<div class="grid grid-cols-12 p-3">
    <!-- Details -->
    <div class="grid grid-cols-12 p-3 col-span-12">
      <div class="col-span-12 grid place-items-center text-2xl font-cinzel">Details</div>
      <div class="col-span-6 grid place-items-center">Name:</div>
      <div class="col-span-6">
        <input
          class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
          type="string"
          [(ngModel)]="char.character.familiar.name"
        />
      </div>
      <div class="col-span-6 grid place-items-center">Type:</div>
      <div class="col-span-6">
        <input
          class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
          type="string"
          [(ngModel)]="char.character.familiar.type"
        />
      </div>
      <div class="col-span-6 grid place-items-center">Rank:</div>
      <div class="col-span-6">
        <input
          class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
          type="number"
          [(ngModel)]="char.character.familiar.rank"
        />
      </div>
    </div>
    <!-- Stats -->
    <div class="grid grid-cols-12 p-3 col-span-12">
      <div class="col-span-12 grid place-items-center text-2xl font-cinzel">Stats</div>
      <div class="col-span-6 grid place-items-center">Max Health:</div>
      <div class="col-span-6">
        <input
          class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
          type="number"
          [(ngModel)]="char.character.familiar.health"
        />
      </div>
      <div class="col-span-6 grid place-items-center">Max Willpower:</div>
      <div class="col-span-6">
        <input
          class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
          type="number"
          [(ngModel)]="char.character.familiar.willpower"
        />
      </div>
      <div class="col-span-6 grid place-items-center">Power:</div>
      <div class="col-span-6">
        <input
          class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
          type="number"
          [(ngModel)]="char.character.familiar.power"
        />
      </div>
      <div class="col-span-6 grid place-items-center">Finesse:</div>
      <div class="col-span-6">
        <input
          class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
          type="number"
          [(ngModel)]="char.character.familiar.finesse"
        />
      </div>
      <div class="col-span-6 grid place-items-center">Resistance:</div>
      <div class="col-span-6">
        <input
          class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
          type="number"
          [(ngModel)]="char.character.familiar.resistance"
        />
      </div>
    </div>
  <!-- Resources -->
  <div class="grid grid-cols-12 p-3 col-span-12">
    <div class="col-span-12 grid place-items-center text-2xl font-cinzel">Resources</div>
    <div class="col-span-6 grid place-items-center">Mana:</div>
    <div class="col-span-6">
      <input
        class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
        type="number"
        [(ngModel)]="char.character.familiar.mana"
      />
    </div>
    <div class="col-span-6 grid place-items-center">Essence:</div>
    <div class="col-span-6">
      <input
        class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
        type="number"
        [(ngModel)]="char.character.familiar.essence"
      />
    </div>
  </div>
  <!-- Social -->
  <div class="grid grid-cols-12 p-3 col-span-12">
    <div class="col-span-12 grid place-items-center text-2xl font-cinzel">Social</div>
    <div class="col-span-6 grid place-items-center">Virtue:</div>
    <div class="col-span-6">
      <input
        class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
        type="number"
        [(ngModel)]="char.character.familiar.virtue"
      />
    </div>
    <div class="col-span-6 grid place-items-center">Vice:</div>
    <div class="col-span-6">
      <input
        class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
        type="number"
        [(ngModel)]="char.character.familiar.vice"
      />
    </div>
    <div class="col-span-6 grid place-items-center">Language:</div>
    <div class="col-span-6">
      <input
        class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
        type="number"
        [(ngModel)]="char.character.familiar.language"
      />
    </div>
  </div>
  <!-- Physical Stats -->
  <div class="grid grid-cols-12 p-3 col-span-12">
    <div class="col-span-12 grid place-items-center text-2xl font-cinzel">Physical Stats</div>
    <div class="col-span-6 grid place-items-center">Initiative Mod:</div>
    <div class="col-span-6">
      <input
        class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
        type="number"
        [(ngModel)]="char.character.familiar.initiative"
      />
    </div>
    <div class="col-span-6 grid place-items-center">Defense:</div>
    <div class="col-span-6">
      <input
        class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
        type="number"
        [(ngModel)]="char.character.familiar.defense"
      />
    </div>
    <div class="col-span-6 grid place-items-center">Speed:</div>
    <div class="col-span-6">
      <input
        class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
        type="number"
        [(ngModel)]="char.character.familiar.speed"
      />
    </div>
    <div class="col-span-6 grid place-items-center">Size:</div>
    <div class="col-span-6">
      <input
        class="font-playfair mt-1  px-3 py-2  bg-transparent w-full border-b border-red-500 text-center focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
        type="number"
        [(ngModel)]="char.character.familiar.size"
      />
    </div>
  </div>
</div>
