<div
  class="fixed bottom-0 top-[0px] right-0 bg-zinc-800/80 w-[525px] mt-[150px] rounded-lg shadow-xl border-solid border-double border-4 border-red-800 text-white overflow-y-scroll"
  id="infoPaane"
  [ngClass]="{ hidden: !info.visible }"
>
  <div class="grid grid-cols-12 gap-5">
    <!--Title-->
    <div class="col-span-12 text-center py-3 text-3xl font-cinzel font-bold">
      <div class="">
        {{ info.currentTab }}
      </div>
    </div>
  </div>
  <div
    class="fixed inset-y-1/2 right-[450px] text-outline-white hover:text-red-500 hover:cursor-pointer"
    title="Close"
    (click)="info.closePane()"
  >
    <span class="material-symbols-outlined text-6xl relative left-[11px] text-black"> arrow_right </span>
    <span class="material-symbols-outlined text-6xl relative left-[-38px] text-black"> chevron_right </span>
  </div>

  <div id="info-content-container overflow-scroll" class="">
    <app-info-details *ngIf="info.currentTab == 'Details'"></app-info-details>
    <app-info-stats *ngIf="info.currentTab == 'Stats'"></app-info-stats>
    <app-info-merit-list *ngIf="info.currentTab == 'Merits'"></app-info-merit-list>
    <app-info-tilt-list *ngIf="info.currentTab == 'Tilts'"></app-info-tilt-list>
    <app-info-condition-list *ngIf="info.currentTab == 'Conditions'"></app-info-condition-list>
    <app-info-rotes *ngIf="info.currentTab == 'Rotes'"></app-info-rotes>
    <app-info-praxis *ngIf="info.currentTab == 'Praxis'"></app-info-praxis>
    <app-info-spells *ngIf="info.currentTab == 'Spells'"></app-info-spells>
    <app-info-single-spell *ngIf="info.currentTab == 'Single Spell'"></app-info-single-spell>
    <app-info-single-merit *ngIf="info.currentTab == 'Single Merit'"></app-info-single-merit>
    <app-info-single-tilt *ngIf="info.currentTab == 'Single Tilt'"></app-info-single-tilt>
    <app-info-single-condition *ngIf="info.currentTab == 'Single Condition'"></app-info-single-condition>
    <app-info-familiar *ngIf="info.currentTab == 'Familiar'"></app-info-familiar>
  </div>
</div>
