<div *ngIf="!char.loading; else loadingIcon" class="mage-background font-cinzel text-white">
  <!-- Name Header -->
  <div class="fixed bg-zinc-800 col-span-12 h-[75px] w-full m-0-m-auto z-20">
    <div class="grid grid-cols-6 text-white">
      <div></div>
      <div class="col-span-2">
        <div
          class="col-span-5 text-lg font-bold hover:cursor-help hover:text-red-500"
          (click)="info.setInfoPane('Details')"
        >
          {{ char.displayName }}
        </div>
        <div class="text-gray-400 font-playfair">
          &nbsp;&nbsp;&nbsp;{{ char.character.details.path }}
          <span class="text-white"> - </span>
          {{ char.character.details.order }}
          <span class="text-white"> - </span>
          {{ char.character.details.legacy }}
        </div>
        <div class="text-gray-400 font-playfair">
          &nbsp;&nbsp;&nbsp;<span class="text-white font-cinzel">Virtue: </span>{{ char.character.details.virtue }}
          <span class="text-white font-cinzel">Vice: </span> {{ char.character.details.vice }}
        </div>
      </div>
      <div class="col-span-2"></div>
      <div class="grid grid-cols-6 text-white">
        <!-- Edit Button -->
        <span
          *ngIf="!char.editMode; else endEditButton"
          (click)="allowEdit()"
          class="material-symbols-outlined text-3xl grid place-items-center hover:cursor-pointer hover:text-blue-500"
          title="Edit"
        >
          edit_square
        </span>
        <ng-template #endEditButton>
          <span
            (click)="endEdit()"
            class="material-symbols-outlined text-3xl grid place-items-center hover:cursor-pointer text-blue-500 animate-pulse"
            title="Close Edit"
          >
            edit
          </span>
        </ng-template>
        <!-- Roll Button -->
        <!-- <span
          (click)="openInfoPane()"
          class="material-symbols-outlined text-3xl grid place-items-center hover:cursor-pointer hover:text-red-500"
        >
          casino
        </span> -->
        <!-- Undo Button -->
        <span
          *ngIf="char.characterBuffer.length > 0"
          (click)="char.undo()"
          class="material-symbols-outlined text-3xl grid place-items-center hover:cursor-pointer hover:text-red-500"
        >
          undo
        </span>
        <!-- Save Button -->
        <span
          *ngIf="!char.saving; else savingIcon"
          (click)="char.saveCharacter()"
          class="material-symbols-outlined text-3xl grid place-items-center hover:cursor-pointer hover:text-green-500"
        >
          save
        </span>
        <ng-template #savingIcon>
          <span
            class="material-symbols-outlined text-3xl grid place-items-center hover:cursor-pointer text-green-500 animate-spin"
          >
            cached
          </span>
        </ng-template>
        <!-- TEST BUTTON -->
        <span
          (click)="char.test()"
          class="material-symbols-outlined text-3xl grid place-items-center text-zinc-600 hover:cursor-pointer hover:text-red-500"
          [ngClass]="{ 'text-red-800 shadow-lg border-red-500 animate-ping': char.addProblem }"
        >
          bug_report
        </span>
      </div>
    </div>
  </div>
  <div id="CharSheet" class="py-5 font-bold px-o" [ngClass]="this.charSheetPosition">
    <!-- Margin Centered Sheet -->
    <div class="max-w-screen-xl m-auto grid grid-cols-12 gap-5 mt-[75px]">
      <!-- Attributes -->
      <div
        class="bg-zinc-800/80 rounded-lg border-solid border-double border-4 border-red-800 shadow-xl col-span-12 row-span-3"
      >
        <div class="grid-cols-12 text-center text-4xl text-outline-white text-black">Attributes</div>
        <!-- Container -->
        <div class="grid grid-cols-3 my-4">
          <!-- Mental -->
          <div class="grid grid-rows-3 border-r border-black gap-2">
            <div class="grid grid-cols-2 place-items-center">
              <div class="text-center font-bold">Intelligence</div>
              <app-dots
                [path]="'attributes.intelligence'"
                [size]="attributeDot"
                [currentDots]="char.character.attributes.intelligence"
              ></app-dots>
            </div>
            <div class="grid grid-cols-2 place-items-center">
              <div class="text-center font-bold">Wits</div>
              <app-dots
                [path]="'attributes.wits'"
                [size]="attributeDot"
                [currentDots]="char.character.attributes.wits"
              ></app-dots>
            </div>
            <div class="grid grid-cols-2 place-items-center">
              <div class="text-center font-bold">Resolve</div>
              <app-dots
                [path]="'attributes.resolve'"
                [size]="attributeDot"
                [currentDots]="char.character.attributes.resolve"
              ></app-dots>
            </div>
          </div>
          <!-- Physical -->
          <div class="grid grid-rows-3 border-r border-black gap-2">
            <div class="grid grid-cols-2 place-items-center">
              <div class="text-center font-bold">Strength</div>
              <app-dots
                [path]="'attributes.strength'"
                [size]="attributeDot"
                [currentDots]="char.character.attributes.strength"
              ></app-dots>
            </div>
            <div class="grid grid-cols-2 place-items-center">
              <div class="text-center font-bold">Dexterity</div>
              <app-dots
                [path]="'attributes.dexterity'"
                [size]="attributeDot"
                [currentDots]="char.character.attributes.dexterity"
              ></app-dots>
            </div>
            <div class="grid grid-cols-2 place-items-center">
              <div class="text-center font-bold">Stamina</div>
              <app-dots
                [path]="'attributes.stamina'"
                [size]="attributeDot"
                [currentDots]="char.character.attributes.stamina"
              ></app-dots>
            </div>
          </div>
          <!-- Social -->
          <div class="grid grid-rows-3 border-black gap-2">
            <div class="grid grid-cols-2 place-items-center">
              <div class="text-center font-bold">Presence</div>
              <app-dots
                [path]="'attributes.presence'"
                [size]="attributeDot"
                [currentDots]="char.character.attributes.presence"
              ></app-dots>
            </div>
            <div class="grid grid-cols-2 place-items-center">
              <div class="text-center font-bold">Manipulation</div>
              <app-dots
                [path]="'attributes.manipulation'"
                [size]="attributeDot"
                [currentDots]="char.character.attributes.manipulation"
              ></app-dots>
            </div>
            <div class="grid grid-cols-2 place-items-center">
              <div class="text-center font-bold">Composure</div>
              <app-dots
                [path]="'attributes.composure'"
                [size]="attributeDot"
                [currentDots]="char.character.attributes.composure"
              ></app-dots>
            </div>
          </div>
        </div>
      </div>

      <!-- Skills -->
      <div class="col-span-3 font-bold text-sm">
        <div
          class="justify-center text-center text-4xl text-outline-white text-black hover:text-red-500 hover:cursor-help"
          (click)="info.setInfoPane('Specialities')"
        >
          Skills
        </div>
        <!-- Container -->
        <div
          class="grid grid-rows-3 gap-y-5 my-3 py-3 bg-zinc-800/80 rounded-lg shadow-xl border-solid border-double border-4 border-red-800 text-white"
        >
          <!-- Mental -->
          <div class="rounded-lg flex flex-col justify-center items-center">
            <p
              class="text-center text-2xl hover:text-red-500 hover:cursor-help"
              (click)="info.setInfoPane('Specialities')"
            >
              Mental
            </p>
            <p class="text-center text-xs">(-3 unskilled)</p>
            <div class="grid grid-cols-2 gap-2 min-w-[220px]">
              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.academics != ''">
                  &nbsp; {{ this.char.character.specialities.academics }} &nbsp; <div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.academics != "" ? "●" : "" }} &nbsp; Academics
              </div>
              <app-dots [path]="'skills.academics'" [currentDots]="char.character.skills.academics"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.computer != ''">
                  &nbsp; {{ this.char.character.specialities.computer }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.computer != "" ? "●" : "" }} &nbsp; Computer
              </div>
              <app-dots [path]="'skills.computer'" [currentDots]="char.character.skills.computer"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.crafts != ''">
                  &nbsp; {{ this.char.character.specialities.crafts }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.crafts != "" ? "●" : "" }} &nbsp; Crafts
              </div>
              <app-dots [path]="'skills.crafts'" [currentDots]="char.character.skills.crafts"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.investigation != ''">
                  &nbsp; {{ this.char.character.specialities.investigation }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.investigation != "" ? "●" : "" }} &nbsp; Investigation
              </div>
              <app-dots [path]="'skills.investigation'" [currentDots]="char.character.skills.investigation"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.medicine != ''">
                  &nbsp; {{ this.char.character.specialities.medicine }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.medicine != "" ? "●" : "" }} &nbsp; Medicine
              </div>
              <app-dots [path]="'skills.medicine'" [currentDots]="char.character.skills.medicine"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.occult != ''">
                  &nbsp; {{ this.char.character.specialities.occult }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.occult != "" ? "●" : "" }} &nbsp; Occult
              </div>
              <app-dots [path]="'skills.occult'" [currentDots]="char.character.skills.occult"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.politics != ''">
                  &nbsp; {{ this.char.character.specialities.politics }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.politics != "" ? "●" : "" }} &nbsp; Politics
              </div>
              <app-dots [path]="'skills.politics'" [currentDots]="char.character.skills.politics"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.science != ''">
                  &nbsp; {{ this.char.character.specialities.science }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.science != "" ? "●" : "" }} &nbsp; Science
              </div>
              <app-dots [path]="'skills.science'" [currentDots]="char.character.skills.science"></app-dots>
            </div>
          </div>
          <!-- Physical -->
          <div class="rounded-lg flex flex-col justify-center items-center">
            <p
              class="text-center text-2xl hover:text-red-500 hover:cursor-help"
              (click)="info.setInfoPane('Specialities')"
            >
              Physical
            </p>
            <p class="text-center text-xs">(-1 unskilled)</p>
            <div class="grid grid-cols-2 gap-2 min-w-[220px]">
              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.athletics != ''">
                  &nbsp; {{ this.char.character.specialities.athletics }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.athletics != "" ? "●" : "" }} &nbsp; Athletics
              </div>
              <app-dots [path]="'skills.athletics'" [currentDots]="char.character.skills.athletics"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.brawl != ''">
                  &nbsp; {{ this.char.character.specialities.brawl }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.brawl != "" ? "●" : "" }} &nbsp; Brawl
              </div>
              <app-dots [path]="'skills.brawl'" [currentDots]="char.character.skills.brawl"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.drive != ''">
                  &nbsp; {{ this.char.character.specialities.drive }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.drive != "" ? "●" : "" }} &nbsp; Drive
              </div>
              <app-dots [path]="'skills.drive'" [currentDots]="char.character.skills.drive"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.firearms != ''">
                  &nbsp; {{ this.char.character.specialities.firearms }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.firearms != "" ? "●" : "" }} &nbsp; Firearms
              </div>
              <app-dots [path]="'skills.firearms'" [currentDots]="char.character.skills.firearms"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.larceny != ''">
                  &nbsp; {{ this.char.character.specialities.larceny }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.larceny != "" ? "●" : "" }} &nbsp; Larceny
              </div>
              <app-dots [path]="'skills.larceny'" [currentDots]="char.character.skills.larceny"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.stealth != ''">
                  &nbsp; {{ this.char.character.specialities.stealth }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.stealth != "" ? "●" : "" }} &nbsp; Stealth
              </div>
              <app-dots [path]="'skills.stealth'" [currentDots]="char.character.skills.stealth"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.survival != ''">
                  &nbsp; {{ this.char.character.specialities.survival }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.survival != "" ? "●" : "" }} &nbsp; Survival
              </div>
              <app-dots [path]="'skills.survival'" [currentDots]="char.character.skills.survival"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.weaponry != ''">
                  &nbsp; {{ this.char.character.specialities.weaponry }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.weaponry != "" ? "●" : "" }} &nbsp; Weaponry
              </div>
              <app-dots [path]="'skills.weaponry'" [currentDots]="char.character.skills.weaponry"></app-dots>
            </div>
          </div>
          <!-- Social -->
          <div class="rounded-lg flex flex-col justify-center items-center">
            <p
              class="text-center text-2xl hover:text-red-500 hover:cursor-help"
              (click)="info.setInfoPane('Specialities')"
            >
              Social
            </p>
            <p class="text-center text-xs">(-1 unskilled)</p>
            <div class="grid grid-cols-2 gap-2 min-w-[220px]">
              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.animalKen != ''">
                  &nbsp; {{ this.char.character.specialities.animalKen }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.animalKen != "" ? "●" : "" }} &nbsp; Animal Ken
              </div>
              <app-dots [path]="'skills.animalKen'" [currentDots]="char.character.skills.animalKen"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.empathy != ''">
                  &nbsp; {{ this.char.character.specialities.empathy }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.empathy != "" ? "●" : "" }} &nbsp; Empathy
              </div>
              <app-dots [path]="'skills.empathy'" [currentDots]="char.character.skills.empathy"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.expression != ''">
                  &nbsp; {{ this.char.character.specialities.expression }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.expression != "" ? "●" : "" }} &nbsp; Expression
              </div>
              <app-dots [path]="'skills.expression'" [currentDots]="char.character.skills.expression"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.intimidation != ''">
                  &nbsp; {{ this.char.character.specialities.intimidation }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.intimidation != "" ? "●" : "" }} &nbsp; Intimidation
              </div>
              <app-dots [path]="'skills.intimidation'" [currentDots]="char.character.skills.intimidation"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.persuasion != ''">
                  &nbsp; {{ this.char.character.specialities.persuasion }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.persuasion != "" ? "●" : "" }} &nbsp; Persuasion
              </div>
              <app-dots [path]="'skills.persuasion'" [currentDots]="char.character.skills.persuasion"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.socialize != ''">
                  &nbsp; {{ this.char.character.specialities.socialize }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.socialize != "" ? "●" : "" }} &nbsp; Socialize
              </div>
              <app-dots [path]="'skills.socialize'" [currentDots]="char.character.skills.socialize"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.streetwise != ''">
                  &nbsp; {{ this.char.character.specialities.streetwise }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.streetwise != "" ? "●" : "" }} &nbsp; Streetwise
              </div>
              <app-dots [path]="'skills.streetwise'" [currentDots]="char.character.skills.streetwise"></app-dots>

              <div class="tooltip">
                <span class="tooltiptext" *ngIf="this.char.character.specialities.subterfuge != ''">
                  &nbsp; {{ this.char.character.specialities.subterfuge }} &nbsp;<div class="inner-triangle"></div>
                </span>
                {{ this.char.character.specialities.subterfuge != "" ? "●" : "" }} &nbsp; Subterfuge
              </div>
              <app-dots [path]="'skills.subterfuge'" [currentDots]="char.character.skills.subterfuge"></app-dots>
            </div>
          </div>
        </div>
      </div>

      <!-- Other Traits -->
      <div class="col-span-9">
        <div class="justify-center text-center text-4xl text-outline-white text-black">Other Traits</div>

        <!-- Container -->
        <div class="my-3 py-3 bg-zinc-800/80 rounded-lg shadow-xl border-solid border-double border-4 border-red-800">
          <div class="p-3">
            <app-tabs-container>
              <!-- Stats -->
              <app-tab tabTitle="Stats">
                <app-stats-tab [attributeDot]="attributeDot"></app-stats-tab>
              </app-tab>

              <!-- Spells -->
              <app-tab tabTitle="Spells">
                <app-spells-tab [spells]="char.character.spells" [arcana]="char.character.arcana"> </app-spells-tab>
              </app-tab>

              <!-- Familiar -->
              <app-tab tabTitle="Familiar">
                <app-familiar-tab></app-familiar-tab>
              </app-tab>

              <!-- Notes -->
              <app-tab tabTitle="Notes">
                <div class="grid grid-cols-12 p-8">
                  <textarea
                    class="col-span-12 text-black p-3 box-border border-2 border-zinc-600 rounded-lg text-sm"
                    rows="4"
                    [(ngModel)]="char.character.notes"
                  ></textarea>
                </div>
              </app-tab>
            </app-tabs-container>
          </div>
        </div>
        <div class="grid grid-rows-3 gap-y-5"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingIcon>
  <div class="mage-background min-h-screen min-w-screen text-center py-52">
    <div
      class="max-w-screen-xl py-8 m-0 m-auto my-auto bg-zinc-800/80 rounded-lg shadow-xl border-solid border-double border-4 border-red-800 max-h-[200px]"
    >
      <span class="material-symbols-outlined text-8xl animate-spin text-white"> autorenew </span>
    </div>
  </div>
</ng-template>

<!-- Info Pane -->
<app-info-pane></app-info-pane>
