<input
  [formControl]="control"
  [type]="type"
  class="block w-full py-1.5 px-3 border border-gray-400 transition duration-400 focus:outline-none rounded bg-transparent focus:border-sky-500"
  [placeholder]="placeholder"
  value="{{value}}"
/>
<ng-container *ngIf="control.touched || control.dirty">
    <p *ngIf=" control.errors?.['pattern']" class="text-red-400">
        - at least 8 characters<br>
        - must contain at least 1 uppercase letter, 1 lowercase letter, and 1 number<br>
        - Can contain special characters
    </p>
  <p *ngIf=" control.errors?.['required']" class="text-red-400">
    Field is required!!
  </p>
  <p *ngIf=" control.errors?.['minlength']" class="text-red-400">
    The value you input is
    {{control.errors?.['minlength'].actualLength}}
    characters long. it must be at least
    {{control.errors?.['minlength'].requiredLength}}
    characters long.
  </p>
    <p *ngIf="control.errors?.['email']" class="text-red-400">
    You must enter a valid email.
    </p>
    <p *ngIf="control.errors?.['min']" class="text-red-400">
      Must be at least than {{control.errors?.['min'].min}}.
    </p>
    <p *ngIf="control.errors?.['max']" class="text-red-400">
      Must be No bigger than {{control.errors?.['max'].max}}.
    </p>
    <p *ngIf="control.errors?.['noMatch']" class="text-red-400">
      Passwords do not match.
    </p>
    <p *ngIf="control.errors?.['emailTaken']" class="text-red-400">
      Email is already taken.
    </p>
</ng-container>
