<div class="grid grid-cols-12 gap-5 p-5">
  <div class="col-span-6 grid place-items-center font-cinzel text-right">
    <strong>Name: &nbsp;</strong>
  </div>
  <div class="col-span-6 grid place-items-center font-playfair">
    <input placeholder="Enter Name" [(ngModel)]="char.character.details.characterName"
    class="font-fairplay mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-black text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500" />
  </div>
  <div class="col-span-6 grid place-items-center font-cinzel text-right">
    <strong>Shadow Name: &nbsp;</strong>
  </div>
  <div class="col-span-6 grid place-items-center font-playfair">
    <input placeholder="Shadow Name" [(ngModel)]="char.character.details.shadowName"
    class="font-fairplay mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-black text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500" />
  </div>
  <div class="col-span-6 grid place-items-center font-cinzel text-right">
    <strong>Path: &nbsp;</strong>
  </div>
  <div class="col-span-6 grid place-items-center font-playfair">
    <input placeholder="Path" [(ngModel)]="char.character.details.path"
    class="font-fairplay mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-black text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500" />
  </div>
  <div class="col-span-6 grid place-items-center font-cinzel text-right">
    <strong>Legacy: &nbsp;</strong>
  </div>
  <div class="col-span-6 grid place-items-center font-playfair">
    <input placeholder="Legacy" [(ngModel)]="char.character.details.legacy" 
    class="font-fairplay mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-black text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"/>
  </div>
  <div class="col-span-6 grid place-items-center font-cinzel text-right">
    <strong>Vice: &nbsp;</strong>
  </div>
  <div class="col-span-6 grid place-items-center font-playfair">
    <input placeholder="Vice" [(ngModel)]="char.character.details.vice" 
    class="font-fairplay mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-black text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"/>
  </div>
  <div class="col-span-6 grid place-items-center font-cinzel text-right">
    <strong>Virtue: &nbsp;</strong>
  </div>
  <div class="col-span-6 grid place-items-center font-playfair">
    <input placeholder="Virtue" [(ngModel)]="char.character.details.virtue" 
    class="font-fairplay mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-black text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"/>
  </div>
  <div class="col-span-6 grid place-items-center font-cinzel text-right">
    <strong>Order: &nbsp;</strong>
  </div>
  <div class="col-span-6 grid place-items-center font-playfair">
    <input
      placeholder="Order"
      [(ngModel)]="char.character.details.order"
      class="font-fairplay mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-black text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
    />
  </div>
</div>
