<!-- <div class="flex items-center justify-center h-screen">
    
	<div class="text-white font-bold rounded-lg border shadow-lg p-10">
		
        <img src="/assets/Landing Page Photo.jpg" class="w-11/12 mx-auto"> 
	</div>
	
  </div> 
<div class="relative">
  <img src="/assets/Landing Page Photo.jpg" />
  <h1
    style="font-family: Eczar"
    class="text-white absolute text-9xl top-5 left-5 text-outline-2"
  >
    Mage Helper
  </h1>

   <h1 class="absolute text-9xl text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-outline-4">
    Mage Helper</h1>
<h2 class="absolute text-3xl text-amber-400 bottom-4 left-1/2 -translate-x-1/2">Bottom Center</h2>
<h3  style="font-family: Eczar;" class="absolute text-9xl top-5 left-5 text-outline-2">Top Left</h3>
<h3 class="absolute text-2xl text-green-300 bottom-5 right-5">Bottom Right</h3>
  <div class="absolute text-2xl bottom-5 right-5">
    <h3>Some Bullshit</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div>
</div>
 <img src="/assets/Landing Page Photo.jpg" class="w-11/12 mx-auto" /> 

<div class="grid grid-cols-2 w-11/12 mx-auto">
  <div class="justify-self-center">
    <h3>Some Bullshit</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div>
  <div class="justify-self-center">
    <h3 class="justify-self-center">Some more Bullshit</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div>
</div>-->
<div class="relative ">
    <a class="h-48 absolute z-10 text-center top-0 right-10 items-center justify-center mx-auto ">
      <h1  class="tracking-wider font-cinzel text-7xl text-outline-white" >Mage Helper</h1>
      </a>
    <a href="#" class="relative">
        <div class="flex flex-wrap content-center">
            <img src="/assets/Landing Page Photo.jpg" class="mx-auto" >
        </div>
    </a>
  </div>

<div class="m-8">
  <div class="grid grid-cols-4 gap-2">
    <div class="bg-red-500 rounded-lg shadow-xl min-h-[50px]"></div>
    <div class="bg-orange-500 rounded-lg shadow-xl min-h-[50px] col-span-3 row-span-6"></div>
    <div class="bg-yellow-500 rounded-lg shadow-xl min-h-[50px] "></div>
    <div class="bg-green-500 rounded-lg shadow-xl min-h-[50px] "></div>
    <div class="bg-teal-500 rounded-lg shadow-xl min-h-[50px]"></div>
    <div class="bg-blue-500 rounded-lg shadow-xl min-h-[50px]"></div>
    <div class="bg-indigo-500 rounded-lg shadow-xl min-h-[50px]"></div>
    <div class="bg-purple-500 rounded-lg shadow-xl min-h-[50px]"></div>
    <div class="bg-pink-500 rounded-lg shadow-xl min-h-[50px]"></div>
    <div class="bg-slate-500 rounded-lg shadow-xl min-h-[50px]"></div>
    <div class="bg-slate-500 rounded-lg shadow-xl min-h-[50px]"></div>
    <div class="bg-slate-500 rounded-lg shadow-xl min-h-[50px]"></div>
    <div class="bg-slate-500 rounded-lg shadow-xl min-h-[50px]"></div>
    <div class="bg-slate-500 rounded-lg shadow-xl min-h-[50px]"></div>
    <div class="bg-slate-500 rounded-lg shadow-xl min-h-[50px]"></div>
  </div>
</div>