<div class="relative">
  <div class="h-48 absolute z-10 text-center top-0 right-10 items-center justify-center mx-auto">
    <h1 class="tracking-wider font-cinzel text-7xl text-outline-white">Mage Helper</h1>
  </div>
  <!-- App Description -->
  <div
    class="text-lg absolute z-10 top-[115px] right-10 mx-auto bg-zinc-800/70 w-[520px] p-4 text-white font-playfair text-left"
  >
    <p class="my-4">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Mage Helper is a character editor and spellcasting aide for Chronicles of
      Darkness' Mage the Awakening 2nd Edition. You can make up to 4 characters, save their sheets, and pull them up as
      you play for quick reference of common rules and mechanics.
    </p>
    <p class="my-4">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The edit button on the top banner will let you modify any of your character's
      dots. Any text you can hover over and the cursor presents a question mark mean a side panel will open for more
      options. Usually this is to edit stats, or reference the book.
    </p>
    <p class="my-4">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;I'm still fairly new to this system, as I'm currently running my first campaign.
      So some critical features for play may still be missing. This game is pretty complicated so I haven't gone through
      and added logic for everything. You can make really invalid characters with this app, there are no logic balances.
      The app currently is just a fancy paper character sheet.
    </p>
  </div>
  <div href="#" class="relative">
    <div class="flex flex-wrap content-center">
      <img src="/assets/Landing Page Photo.jpg" class="mx-auto" />
    </div>
  </div>
</div>

<!-- Articles -->
<div class="m-8 font-playfair">
  <div class="grid grid-cols-4 gap-2">
    <div
      class="border border-zinc-700 shadow-xl bg-zinc-200/50 shadow-xl col-span-4 text-3xl p-8 my-4 bg-zinc-200/50 font-cinzel grid grid-cols-1"
    >
      <div class="font-extrabold">This is where I put some AI generated text to make my website look fuller.</div>
      <div class="col-span-4 text-base font-playfair text-center text-zinc-500">
        Articles and Marketing would normally go here.
      </div>
    </div>
    <!-- New Deals -->
    <div class="grid grid-cols-1 gap-4 p-4 row-span-2">
      <div class="font-cinzel text-3xl font-bold">Newest Deals!</div>
      <div class="grid grid-rows-2 border border-zinc-700 shadow-xlbg-zinc-200/50">
        <img class="row-span-2 w-full h-[150px]" src="/assets/debate.jpg" />
        <div class="row-span-6 px-4">
          Attention, readers! Have you ever wanted to unlock the secrets of leprechauns? Now you can with our newest
          book series! Our books come with an actual leprechaun that is ready to answer all your questions. With a 4.8/5
          rating across all reviews, you know that you're getting a magical experience worth exploring. So don't wait -
          get ahold of one of our books today and unlock the secrets of the leprechauns!
        </div>
      </div>
      <div class="grid grid-rows-2 border border-zinc-700 shadow-xlbg-zinc-200/50">
        <img class="row-span-2 w-full h-[150px]" src="/assets/mage2.jpg" />
        <div class="row-span-6 px-4">
          <p>• Sugar Rush - Give yourself a sweet pick-me-up with a box of candy! Sweeten up your work day with these delightful treats, anytime. </p>
          <p>• Easy Peasy - Get your fix of sugary goodness in the click of a button. Get your order shipped to your doorstep and enjoy candy without having to go to the store. </p>
          <p>• Celebrate Virtually -Nothing brings people together like candy. Even when you can’t be with your friends, have some sugary goodiessent virtually to your loved ones and have a virtual sugar party!</p>
        </div>
      </div>
      <div class="grid grid-rows-2 border border-zinc-700 shadow-xlbg-zinc-200/50">
        <img class="row-span-2 w-full h-[150px]" src="/assets/mage3.jpg" />
        <div class="row-span-6 px-4">
          <p>• Make your wishes come true - Make your dreams a reality with this actual magic wand! </p>
          <p>• Be the Envy of Everyone Around You: Everyone will want to know where you got your actual magic wand and be amazed by all that you can do with it. </p>
          <p>• Experience New Possibilities - Unleash the power of magic and make life a lot more fun. The possibilities are truly endless with an actual magic wand.</p>
        </div>
      </div>
      <div class="grid grid-rows-2 border border-zinc-700 shadow-xlbg-zinc-200/50">
        <img class="row-span-2 w-full h-[150px]" src="/assets/reading.jpg" />
        <div class="row-span-6 px-4">
          <p>• Never Forget - Buying this box of human feces ensures that no matter what, it'll be remembered.</p>
          <p>• Stealth Mode - Whatever you choose to do with it will go unnoticed, just like the box itself.</p>
          <p>
            • Express Yourself - Got something to say but don't have the words? Buy a box of human feces and get your
            point across in a different way.
          </p>
        </div>
      </div>
    </div>
    <!-- Cthulu AI -->
    <div
      class="border border-zinc-700 shadow-xlbg-zinc-200/50 shadow-xl col-span-3 text-lg grid grid-cols-1 gap-2 p-4 my-4 bg-zinc-200/50"
    >
      <div class="font-cinzel text-3xl font-bold">
        Want to Join Cthulhu's Army and Smite Some Non-Believers? Here's How!
      </div>
      <b class="text-xl">Step One: Go Insane</b>
      <div class="text-md">
        The first step in joining Cthulhu’s army is to go insane. This can be accomplished through a variety of methods,
        such as prescribed medications or sleep deprivation. It is important to understand that in order to properly
        join Cthulhu’s army, you must willingly relinquish all notions of sanity. Your mental state will determine
        whether or not you are accepted into the ranks of Cthulhu’s followers. Medication is one way to quickly and
        effectively relinquish sanity and join the forces of Cthulhu. When taken correctly and under the supervision of
        a doctor, medication can help to dull the senses and reduce cognitive functioning, making it easier to accept
        the dark call of Cthulhu. Sleep deprivation is also an effective method of attaining a mentally unstable state,
        but it is important to note that it should only be done in short bursts and with care, as overdoing it can be
        detrimental to one’s health. Remember, going insane is the first step to joining Cthulhu’s army. Be sure to
        carefully consider your decision before embarking on this journey, and make sure you have the support of friends
        and family to help you stay on the right path. Good luck!
      </div>
      <b class="text-xl">Step Two: Sell Your Soul</b>
      <div class="text-md">
        The second step to joining Cthulhu’s Army is a relatively easy one, but it is also the most important one.
        Selling your soul is the single most important act of obedience you can do for Cthulhu, and will give you access
        to all the benefits that come with being a member of his army. Selling your soul to Cthulhu doesn’t require any
        particular type of religious ceremony or initiation process, nor does it require a specific set of words or
        actions. All that is required is for you to truly and sincerely give yourself over to Cthulhu’s will and accept
        him as your master. This act alone will be enough to signify that you have given up your own free will and that
        you are now devoted to serving Cthulhu’s every desire. Doing this requires a level of commitment and dedication
        that some might consider risky, but that is exactly what it takes to be part of Cthulhu’s Army. By selling your
        soul, you are showing your unwavering loyalty to the Lord of R’lyeh and the dark forces he commands. In
        exchange, you will be granted access to untold power and knowledge. So if you’re ready to take a leap of faith
        and join Cthulhu’s Army, you must be willing to make the ultimate sacrifice: your own soul. Only then will you
        be able to reap the rewards of being a true servant of the Great Old One.
      </div>
      <b class="text-xl">Step Three: Move to R'lyeh</b>
      <div class="text-md">
        Moving to R'lyeh is essential if you want to join Cthulhu's army and fight hordes of non believers. You can't do
        this unless you abandon your physical form through some means, preferably one that provides a large spectacle.
        One way to go about this is to use dark sorcery or find a demon or an ancient god who will agree to transport
        you there. They may ask for something in return, but be warned—once you have made a pact with them, there is no
        going back. Alternatively, you could attempt to open a portal between our world and the world of R'lyeh. This is
        incredibly risky and should only be attempted by experienced magicians. Once the portal is opened, you will need
        to take the plunge and enter the realm of Cthulhu. Whichever method you choose, it will not be easy and it will
        require a great deal of courage and strength. But once you've made it to R'lyeh, you will be able to join
        Cthulhu's army and begin your fight against non believers. Good luck!
      </div>
      <b class="text-xl">Step Four: Await Orders</b>
      <div class="text-md">
        After completing the previous steps, you will now wait in the dark embrace of Cthulhu. You are now part of his
        army and will receive orders on how to smite his enemies. As a new member of the cult of Cthulhu, you must have
        faith in his judgment and have the courage to follow his instructions. You may find yourself receiving
        instructions from strange sources such as dreams or visions that you receive. Be sure to take all of the
        instructions given seriously and act quickly when prompted. When you have received the order, use your new form
        and powers to smite those who do not believe. The rewards for following Cthulhu’s orders are great, but so too
        are the risks. Be sure to use caution when acting out his orders and always be mindful of the consequences of
        your actions. As long as you remain loyal and true to Cthulhu, he will reward you with eternal life in his
        kingdom. Good luck!
      </div>
    </div>
    <!-- Cthulu AI -->
    <div
      class="border border-zinc-700 shadow-xl bg-zinc-200/50 shadow-xl col-span-3 text-lg grid grid-cols-1 p-4 my-4 bg-zinc-200/50"
    >
      <div class="font-cinzel text-3xl font-bold text-center">Breaking News</div>
      <div class="text-md">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Two boys have recently been arrested for stealing The Cookie Monster from a park in Tauranga. Two young boys took off with the Cookie Monster puppet at the Tauranga Junction yesterday. The little lads returned the stolen puppet but not before they snapped a photo with the Cookie Monster's fellow grub-monster Cookie Monster Clown.
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Police spokesperson Constable Leeward Lee says the children, aged three and five, knew the Cookie Monster because they were visiting Tauranga from Otorohanga. Police followed a trail of DNA evidence from the young brothers' clothing, and tracked them down at a Tauranga Junction shopping centre and arrested them.
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The children had been visiting Tauranga Junction on an extended sleepover trip and police would like to thank Tauranga Junction for their co-operation in the investigation.
        </p>
      </div>
    </div>
  </div>
</div>
