<div class="grid grid-cols-12">

    <div class="col-span-12 text-sm text-zinc-400 text-center">
        If a Specialty applies to your roll, add a die. Multiple Specialties may apply to a single roll, within reason. If you find yourself going to great lengths to justify a Specialty, it probably shouldn’t apply.
      </div>

<div class="col-span-12">
</div>


<div class=" col-span-12 mx-6 grid grid-rows-3 gap-8 text-white">
  <!-- Mental -->
  <div class="px-4 font-cinzel font-bold font-lg">
    <p class="text-center text-2xl">Mental</p>
    <div class="grid grid-cols-2 gap-2 min-w-[220px]">
      <div class="text-right">Academics &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.academics"
      />
      <div class="text-right">Computer &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.computer"
      />
      <div class="text-right">Crafts &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.crafts"
      />
      <div class="text-right">Investigation &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.investigation"
      />
      <div class="text-right">Medicine &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.medicine"
      />
      <div class="text-right">Occult &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.occult"
      />
      <div class="text-right">Politics &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.politics"
      />
      <div class="text-right">Science &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.science"
      />
    </div>
  </div>
  <!-- Physical -->
  <div class="px-4 font-cinzel font-bold font-lg">
    <p class="text-center text-2xl">Physical</p>
    <div class="grid grid-cols-2 gap-2 min-w-[220px]">
        
      <div class="text-right">Athletics &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.athletics"
      />

      <div class="text-right">Brawl &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.brawl"
      />

      <div class="text-right">Drive &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.drive"
      />

      <div class="text-right">Firearms &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.firearms"
      />

      <div class="text-right">Larceny &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.larceny"
      />

      <div class="text-right">Stealth &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.stealth"
      />

      <div class="text-right">Survival &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.survival"
      />

      <div class="text-right">Weaponry &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.weaponry"
      />
    </div>
  </div>
  <!-- Social -->
  <div class="px-4 font-cinzel font-bold font-lg">
    <p class="text-center text-2xl">Social</p>
    <div class="grid grid-cols-2 gap-2 min-w-[220px]">


      <div class="text-right">Animal Ken &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.animalKen"
      />

      <div class="text-right">Empathy &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.empathy"
      />

      <div class="text-right">Expression &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.expression"
      />

      <div class="text-right">Intimidation &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.intimidation"
      />

      <div class="text-right">Persuasion &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.persuasion"
      />

      <div class="text-right">Socialize &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.socialize"
      />

      <div class="text-right">Streetwise &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.streetwise"
      />

      <div class="text-right">Subterfuge &nbsp;</div>
      <input
        class="font-playfair font-normal bg-transparent w-full border-b border-red-500  w-[150px]"
        type="text"
        [(ngModel)]="char.character.specialities.subterfuge"
      />
    </div>
  </div>
</div>

</div>